@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

a{
    color: #ffffff;
}
a:focus {outline:0;}

.custom-logo {
    font-family: 'Work Sans', sans-serif;
    color: #fda600 !important;
    font-weight: 600;
}

.custom-logo span{
    font-size: 2rem;
    position: absolute;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Navbar */
.nav-link {
    font-size: 1.1rem;
}

.nav-link span{
    font-weight: 600;
    color: #fda600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fda600 !important;
    background-color: transparent !important;
    border-left: 2px solid #fda600;
    border-radius: 0;
}

/* Landing */
.landing-page h1 {
    color: #fda600;
}

.landing-page h2 {
    color: #E2EFFF;
}

.landing-page h3 {
    color: #7D87A7;
}

.landing-page p {
    color: #7A84A4;
}

/* Experience */
.experience-page h1 {
    color: #fda600;
}

.experience-page a {
    color: #fff;
}

.experience-page svg {
    color: #fff;
    margin-right: 0.5rem;
}

.experience-page a:hover {
    color: #fff !important;
    text-decoration: none;
}

.experience-page ul.timeline {
    list-style-type: none;
    position: relative;
}

.experience-page ul.timeline:before {
    content: ' ';
    background: #fda600;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.experience-page ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 30px;
}

.experience-page ul.timeline > li:before {
    content: ' ';
    background: #fda600;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffffff;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.experience-timeline-item-title{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.experience-timeline-item-dates{
    color: #cccccc;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.experience-timeline-item-feature {
    color: #fff;
    font-size: 0.8rem;
    padding: 0rem;
    margin: 0rem;
}

.experience-timeline-item-content {
    color: #999999;
    font-size: 0.8rem;
}

.experience-item-feature {
    color: #fff;
    font-size: 1rem;
}

/* Work */
.work-page h1 {
    color: #fda600;
}

.work-page .card-body {
    font-size: 0.8rem;
}

.work-page .card-columns {
    margin-bottom: 22rem;
}

.work-page .card-footer span {
    background: #cccccc;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.work-page .card-footer span:hover{
    background: #fda600;
    cursor: pointer;
}

/* Contact */
.contact-page h1 {
    color: #fda600;
}

.contact-page h2 {
    color: #E2EFFF;
}

.contact-page {
    margin-bottom: 18rem;
}


/* About Us */
.about-page {
    margin-bottom: 18rem;
}

.about-page h1 {
    color: #fda600;
}

.about-me-social-networks-container a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #fda600;
    cursor: pointer;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    opacity: 0.2;
}

.about-me-social-networks-container a:hover {
    opacity: 1;
    color: #fda600;
}

/* Social */
.social-networks-container {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
}

.social-networks-ul {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.social-networks-ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 190px;
    background-color: #fda600;
    margin: 0px auto;
}

.social-networks-ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.social-networks-ul li:last-of-type {
    margin-bottom: 20px;
}

.social-networks-ul li a {
    color: #fda600;
    cursor: pointer;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    opacity: 0.2;
}

.social-networks-ul li a:hover {
    opacity: 1;
}

.social-networks-ul li a svg {
    font-size: 1.7rem;
}

@media (max-width: 62.5em){
    .social-networks-container {
        left: 25px;
    }
    
}

@media (max-width: 48em) {
    .social-networks-container {
        display: none;
    }
    
    .experience-page ul.timeline {
        margin-bottom: 0rem;
    }

    .experience-page ul.timeline > li:last-child {
        padding-bottom: 20rem;
        margin-bottom: 0rem;
    }
}